[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".config/zsh/themes/pure"]
	path = .config/zsh/themes/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".fpp"]
	path = .fpp
	url = https://github.com/facebook/PathPicker.git
[submodule ".lsp/elixir-ls"]
	path = .lsp/elixir-ls
	url = https://github.com/elixir-lsp/elixir-ls.git
