[alias]
	# clone a repo with its submodules
	c = clone --recursive

	# view SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# view current working tree status
	s = status -s
	ss = diff HEAD~1 --stat

	# show verbose output
	tags = tag -l

[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -+F

[push]
	followTags = true
	default = current

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[include]
	path = ~/.config/git/config
