* {
    border: none;
    padding: 0px;
    font-family: FontAwesome, Symbols Nerd Font Mono, JetBrainsMono Nerd Font;
    font-size: 12px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    padding: 0;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    padding: 5px 8px;
    border-radius: 0;
    transition: none;
    color: #7c818c;
    background: transparent;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #7c818c;
    font-size: 12px;
}

#workspaces button.active {
    background: transparent;
    color: #dfdfdf; 
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: white;
}

#language {
    padding-left: 16px;
    padding-right: 8px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#keyboard-state {
    margin-right: 8px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#window {
  margin: 0 4px;
  font-weight: 800;
}

#idle_inhibitor {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#idle_inhibitor.activated {
    background-color: #eb4d4b;
}

#pulseaudio {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#network {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#bluetooth {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#bluetooth.disabled {
}

#cpu {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#memory {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
